body{
    font-family:'arial';
    background-color:#f3e9f1;
}
a, a:hover, button{
    outline-color: BlueViolet;
}
h3, .fas, .far, .fab, .btn-outline-light{
    color: BlueViolet;
}
h1{
  color: DarkOrange;
  font-style: italic;
}
h2{
    margin-right: auto;
}
.fas, .far, .fab{
    font-size: 1.2rem;
}
.jumbotron{
    box-shadow: inset 0px 4px 4px -3px rgb(53 53 53 / 20%);
}
.card{
    transition: ease-in-out;
} 
a .card:hover{
    transform: scale(1.05);
}
.card-img-top {
    height: 16rem;
    object-fit: cover;
    transition: transform .2s;
}
.btn-outline-light{
    border-color: BlueViolet;
}
button {
  border: none;
}
