body{
    font-family:'arial';
    background-color:#f3e9f1;
}
a, a:hover, button{
    outline-color: #9960e3;
}
h3, .fas, .far, .fab, .btn-outline-light{
    color: #9960e3;
}
h2{
    margin-right: auto;
}
.titre-command{
    font-size: calc(1.325rem + .9vw);
}

/*Header*/
.fas, .far, .fab{
    font-size: 1.2rem;
}

.jumbotron{
    box-shadow: inset 0px 4px 4px -3px rgb(53 53 53 / 20%);
}
.display-4, .titre-command, h2{
    font-family: 'Kaushan Script', cursive;
    color: #e68b01;
}

/* Style pour la Page produit*/
.card{
    transition: ease-in-out;
} 
a .card:hover{
    transform: scale(1.05);
}
.card-img-top {
    height: 16rem;
    object-fit: cover;
    transition: transform .2s;
}
.btn-outline-light{
    border-color: #9960e3;
}