body{
    margin: 0;
    padding: 0;
    font-family:'arial';
}
a, button{
    outline-color: #9960e3;
}
h2, p{
    color: black;
}
h3{
   font-size: 1rem;
    text-align: center;
}
h2{
    margin-right: auto;
    color: #e68b01;
    font-family: 'Kaushan Script', cursive;
}
h3, .social{
    text-align: center;
    color: #9960e3;
}

/*Header*/
header{
    background-color: #f3e9f1;
}
.navbar-header{
    display: flex;
}
.navbar-brand{
    margin-right: auto;
}
.navbar-nav{
    flex-direction: row;
}
ul{
    margin-top: 1.5rem;
}
.navbar-nav .nav-link{
    padding-left: 1rem;
    color: black;
}
.fas, .far, .fab{
    color: #9960e3;
    font-size: 1.2rem;
}
    
.card{
    width: auto;
    margin: 0.5rem; 
    box-shadow: 2px 2px 12px lightgrey;
    border-radius: 0.5rem;
    transition: ease-in-out;
} 
a .card:hover{
    transform: scale(1.05);
}
a{
    text-decoration: none;
}
.body{
    background-color:#f3e9f1;
    padding-bottom: 2rem;
}
.head-body{
    background-color: white;
}
.card-img-top {
    height: 15rem;
    object-fit: cover;
    width: 100%;
    transition: transform .2s;
    border-radius: 0.5rem;
}
.row-2{
    --bs-gutter-y: 1.5rem;
    align-items: center;
}
.col{
    align-items: center;
}
.jumbotron{
    padding: 2rem 1rem;
    background-color: white;
    margin-bottom: 1rem;
    box-shadow: inset 0px 4px 4px -3px rgb(53 53 53 / 20%);
}
.display-4, .lead{
    text-align: center;
}
.display-4{
    font-family: 'Kaushan Script', cursive;
    color: #e68b01;
}
.title-price{
    display: flex;
    align-items: baseline;
}

/* Page product*/
.title-price2{
    flex-direction: row;
}
.btn-comand{
    align-items: center;
}
.btn-outline-light{
    color: #9960e3;
    border-color: #9960e3;
}
.fa-shopping-cart{
    margin-right: 0.5rem;
}
.btn-panier{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
/*Footer*/
footer{
    padding-top: 1.5rem;
}
.fa-twitter, .fa-facebook{
    margin: 0 0.5rem;
}

/*Breakpoints*/
@media (max-width: 425px) {
    .card{
        margin: 0.2rem;
    }
}
@media (min-width: 426px) {
    .row-2{
        margin-top: 1rem;
    }
}
@media (min-width: 768px) {
    .row-2{
        margin-top: 1rem;
    }
    .card-product{
        display: flex;
        flex-direction: row;
    }
    .page-product{
        align-items: center;
    }
}
@media (min-width: 1024px) {
    .card-img-top{
        height: 20rem;
     }
}
@media (max-width: 425px) {
    .row{
       flex-direction: column;
    }
    h3, .social{
        text-align: start;
    }
}